.box-img{
    width: 70%;
    height: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box-img img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid white;
    transition: all ease-in-out 0.5s;
}

.box-img img:hover{
    width: 50%;
}

body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

.pr{
    background-color: white;
    font-size: 30px;
    height: 50px;
    align-content: center;
}